.study-cards {
	&__board {
		background-color: aliceblue;
	}

	&__flip-card {
		height: 180px;
		width: 180px;
		background-color: transparent;
		perspective: 1000px;
	}

	&__flip-card:hover &__inner-card {
		transform: rotateY(180deg);
	}

	&__inner-card {
		position: relative;
		width: 100%;
		height: 100%;
		transition: transform 0.5s;
		transform-style: preserve-3d;
	}

	&__front-card,
	&__back-card {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	&__back-card {
		transform: rotateY(180deg);
	}
}
